# Bundler config and Bundler-installed gems
.bundle
vendor/bundler

# Seeding files
data/seeds.csv

# Music files
public/music

# Local Databases
db/*.sqlite3

# Ctags
tags

# The usual suspects
Thumbs.db
Desktop.ini
__MACOSX
.DS_Store
*.tmproj
*.swp
*~
*.bak
*.sqlite
*.sql
*.psd
