# Bundler config and Bundler-installed gems
.bundle
vendor/bundler

# Seeding files
seeds.csv

# Music files
public/music

# The usual suspects
Thumbs.db
Desktop.ini
__MACOSX
.DS_Store
*.tmproj
*.swp
*~
*.bak
*.sqlite
*.sql
