# Bundler config and Bundler-installed gems
.bundle
vendor/bundler
pqxx-dev

# Seeding files
data/seeds.csv

# Music files
public/music

# Generated configs
config/environments.rb

# The usual suspects
Thumbs.db
Desktop.ini
__MACOSX
.DS_Store
*.tmproj
*.swp
*~
*.bak
*.sqlite
*.sql
*.psd
