%html
	%head
		%title= "Hisaishi needs you to log in."
		%link{:rel => "stylesheet", :type => "text/css", :href => "/hisaishi-style.css?1"}
	%body{:id => "hisaishi-login"}
		%h1= "Hisaishi needs you to log in."
		%p 
			Use your SMASH! Basecamp account to log in. Don't worry, we won't be using it for anything else.
		%form{:action => "/login", :method => "post"}
			%input{:name => "username", :required => "true", :placeholder => "Your Basecamp username"}
			%input{:name => "password", :type => "password", :required => "true", :placeholder => "Your password"}
			%input{:type => "submit", :value => "Log in"}