%html
	%head
		%title= "Hisaishi is all songed out."
		%link{:rel => "stylesheet", :type => "text/css", :href => "/hisaishi-style.css?1"}
	%body{:id => "hisaishi-no-song"}
		%h1= "Hisaishi has no more songs to review right now."