%html
  %head
    %title= "Karaoke"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/hisaishi-style.css?1"}
    %script{:type => "text/javascript",:src  => "/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript",:src  => "/HisaishiEngine.js"}    
    %script{:type => "text/javascript",:src  => "/effects.js"}        
    :javascript
      var trax = #{song_json};
      var hl = null;
      $(document).ready(function(){
        hl = new HisaishiList({
          tracks: trax,
          hsParams: {
            preroll: {
              line: 500,
              word: 200
            }
          },
          containers: {
            display: '#hisaishi-display',
            list:  '#hisaishi-list'
          }
        });
      });   
  %body
    #hisaishi-display
    %ol{:id => "hisaishi-list"}
    #main-controls
      %a{:href => '/logout', :title => "Log out"}= "Log out"