/* Basic */

.line {
	text-shadow: 
		0 0 1px black,
		0 0 4px black,
		0 0 10px black,
		0 0 20px black
	;
	background: rgba(0,0,0,0.5);
	-webkit-transition: opacity 0.2s ease-in-out;
}

.word {
	-webkit-transition: all 0.2s ease-in-out;
}

.word-highlight {
	color: #f00;
}

.clear {
	clear: both;
}

.hidden-line, .queued-line, .complete-line {
	opacity: 0.5;
}

/* Layout */

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #383838;
	color: white;
	text-shadow: 0 0 4px black;
}

body#hisaishi-login, 
body#hisaishi-no-song, 
body#hisaishi-song-list {
	padding: 1em;
}

#hisaishi-display {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	overflow: hidden;
	background: black;
}

ol#hisaishi-list {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	overflow: auto;
	padding: 0;
	margin: 0;
	list-style: 0;
	background: #383838;
}

#hisaishi-list li {
	padding: 10px;
	margin: 0;
}

#hisaishi-list li.selected {
	background: #666;
}

#hisaishi-list li:hover, #hisaishi-list li.selected:hover {
	background: #888;
}

#hisaishi-list li div {
	padding-bottom: 2px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;	
	cursor: default;
}

div.details {
	width: 50%;
}

#hisaishi-list li div span {
	text-transform: uppercase;
	color: #555;
}

.track-title {
	font-weight: bold;
}

.track-artist {
	font-size: 0.9em;
}

.track-album {
	font-size: 0.9em;
	color: #c7c7c7;
}

.hisaishi-scaffold {
	position: relative;
	height: 100%;
}

.hisaishi-scaffold img.track-image {
	position: absolute;
	width: 100%;
}

.audio-container {
	position: absolute;
	top: 0;
	left: 0;
}

.audio-container div.mejs-controls {
	display: none;
}

.controlbar-container {
	position: relative;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	height: 50px;
	width: 100%;
	/* display: none; */
}

.controls-container {
	float: left;
	padding: 10px;
}

.controls-container a,
.controls-container progress {
	color: white;
	display: inline-block;
	text-decoration: none;
}

.controls-container a, 
.controls-container span, 
.controls-container progress, 
.controls-container input {
	margin: 0 0.5em 0 1px;
}

.controls-container progress {
	margin-bottom: -1px;
	width: 200px;
	vertical-align: 50%;
}

.controls-container input {
	padding-bottom: 7px;
	display: none;
}

span.timer {
	position: relative;
	top: -8px;
	padding-left: 10px;
}

.rating-container {
	float: right;
	padding: 10px;
}

.rating-container a {
	color: white;
	display: inline-block;
	margin: 0 5px 0 0.5em;
	text-decoration: none;
}

.rating-container div.vote-comment {
	display: none;
	position: absolute;
	top: 150%;
	right: 1%;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	width: 325px;
}

.rating-container div.vote-comment p {
	font-weight: bold;
	font-size: 0.9em;
	margin: 0 0 10px 0;
}

.rating-container div.vote-comment form {
	margin: 0;
}

.rating-container div.vote-comment label {
	font-size: 0.9em;
	width: 100%;
	margin: 1em 0;
	display: block;	
}

.rating-container div.vote-comment input[type="checkbox"] {
	font-size: 20px;
}

.rating-container div.vote-comment input[type="submit"] {
	font-size: 0.9em;
}

.rating-container div.vote-comment textarea {
	font-size: 0.8em;
	display: block;
	height: 75px;
	width: 300px;
	padding: 5px;
	margin-left: 25px;
	margin-bottom: 10px;
}

.rating-container div.vote-comment ul,
.rating-container div.vote-comment ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.rating-container div.vote-comment a {
	font-size: 0.9em;
	float: right;
}

.lyrics-container {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 4em;
}

/* multipart */

.lyrics-container.multipart {
	top: 0px;
	margin-top: 50px;
	height: 100%;
}
.lyrics-container.multipart .multipart-line-group {
	overflow: hidden;
}

.lyrics-container.multipart-2-parts .multipart-line-group {
	height: 50%;
}
.lyrics-container.multipart-3-parts .multipart-line-group {
	height: 33%;
}
.lyrics-container.multipart-4-parts .multipart-line-group {
	height: 25%;
}

/* controls */

#main-controls {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
}
#main-controls a {
	color: white;
	text-decoration: none;
}

a.hoverable {
	padding-right: 10px;
}
a.hoverable span {
	-moz-transition-property: all;
	-moz-transition-duration: 0.1s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.1s;
	-o-transition-property: all;
	-o-transition-duration: 0.1s;
	-ms-transition-property: all;
	-ms-transition-duration: 0.1s;
}

a span.show-on-hover {
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	top: 5px;
	
	background: black;
	color: white;
	font-size: 0.8em;
	padding: 5px;
	border-radius: 5px;
	
	opacity: 0;
	width: 0;
	left: 0;
}
a:hover span.show-on-hover,
a:active span.show-on-hover{
	opacity: 1;
	width: auto;
	left: 100%;
}

body#hisaishi-login input {
	font-size: 1.2em;
	padding: 0.3em;
	min-width: 300px;
}

body#hisaishi-login a, 
body#hisaishi-no-song a, 
body#hisaishi-song-list a {
	color: #bcf;
}

table#hisaishi-all-songs th,
table#hisaishi-all-songs td {
	padding: 5px;
}
table#hisaishi-all-songs td.song-yes,
table#hisaishi-all-songs td.song-no {
	text-align: right;
}
table#hisaishi-all-songs .song-yes {
	color: #6f6;
}
table#hisaishi-all-songs .song-no {
	color: #f66;
}